footer {
    padding-top: 3px;
    color: var(--links);
    background: linear-gradient(to right,
            var(--gradient-one) 0%,
            var(--gradient-two) 100%);
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    background-color: var(--bg-color);
}

footer img {
    width: 3em;
}

#left_footer,
#left_footer a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left_footer .links {
    display: flex;
}

#left_footer:last-child {
    justify-content: flex-end;
}

#left_footer h5 {
    margin: 0%;
    font-weight: lighter;
}

#right_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 0.1em;
}

#right_footer a {
    padding: 0.1em;
}

#right_footer:last-child {
    padding-bottom: 0.2em;
}

@media screen and (max-width: 768px) {
    #footer {
        flex-direction: column-reverse;

    }

    #left_footer,
    #right_footer {
        align-items: center;
    }

    #right_footer {
        margin: .5em 0 1.5em 0;
    }
}