nav {
    padding-bottom: 3px;
    color: var(--links);
    background: linear-gradient(to right,
            var(--gradient-one) 0%,
            var(--gradient-two) 100%);
}

nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 3px;

}

nav * img {
    max-width: 3em;
}

#left_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#left_menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#left_menu img {
    margin: 0 .5em 0 .5em;
}

#left_menu h3 {
    margin-left: .5em;
}

#right_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#right_menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#right_menu ul li {
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
}

#lang_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1em 0 .5em;
}

.dropdown {
    justify-content: center;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: flex;
    z-index: 1;
}

#menu_deroulant {
    display: none;
}

@media screen and (max-width: 768px) {
    #right_menu .links {
        display: none;
    }

    #left_menu h3 {
        display: none;
    }

    #menu_deroulant {
        order: 1;
        display: contents;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .dropdown {
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .dropdown-content {
        border-radius: 4px;
        background: linear-gradient(to right,
                var(--gradient-one) 0%,
                var(--gradient-two) 100%);
        color: var(--links);
        min-width: 174px;
        padding: 2px;
        position: absolute;
    }

    .dropdown-content .links {
        background-color: var(--bg-color);
        width: 100%;
        border-radius: 4px;
    }

    #menu_deroulant a {
        text-decoration: none !important;
        transition: 0.3s;
    }

    #menu_deroulant a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    #menu_deroulant ul {
        list-style-type: none;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    #menu_deroulant li {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 0.5em;
        transition: 0.3s;
    }

    #menu_deroulant li:hover {
        padding: 0.5em;
        background-color: var(--gradient-two);
        border-radius: 0.5em;
        text-decoration: none;
    }

    #left_menu {
        order: 2;
    }

    #right_menu {
        order: 3;
    }

    #lang_container {
        transform: translateX(-.5em);
    }

    #lang{
        margin: 0;
    }

    footer img {
        width: 2em;
    }

}