.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70em;
}

.title {
    font-size: 2.5em;
    margin-bottom: 0em;
}

.title,
.text {
    color: var(--links);
    text-align: center;
}

.text {
    font-size: 1.15em;
}

.color {
    margin-top: 2em;
    padding: 2px;
    background: linear-gradient(to right,
            var(--gradient-one) 0%,
            var(--gradient-two) 100%);
    border-radius: 10px;
}

.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 3em;
}

@media screen and (max-width: 1366px) {
    .content {
        width: 85%;
    }

    .color {
        margin: 0;
    }

    .bg {
        padding: 2em;
    }

    .text:first-child {
        margin-top: 0;
    }

    .text:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1024px) {
    .content {
        width: 90%;
    }

    .title {
        font-size: 2.2em;
        margin-top: 0;
    }

    .bg {
        padding: 2em;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }

    .title {
        font-size: 1.8em;
    }

    .text {
        font-size: 1em;
    }

    .bg {
        padding: 1em;
    }
}