section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10% 0 10%;
}

section #retex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,
        var(--gradient-one) 0%,
        var(--gradient-two) 100%);
    border-radius: 10px;
    padding: 2px;
}

#retex .bg {
    background: var(--bg-color);
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#left .title p {
    font-size: 2em;
    font-weight: bolder;
    color: var(--links);
    text-align: center;
    margin: 0;
}

#left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#right {
    width: 50%;
}

#right,
#cdc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cdc {
    padding: 0 3em;
}

#cdc  p {
    text-align: center;
}

#outils_cpt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#outils,
#competences {
    display: flex;
    flex-direction: column;
}

#right h3 {
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--links);
    text-align: center;
    margin: 0;
}

#competences,
#outils {
    width: 50%;
}

#outils_cpt ul {
    margin: 1rem 0 0 2em;
    padding-left: 1em;
}

#outils_cpt li {
    padding-left: .5em;
}

#outils_cpt li::marker {
    content: '>';
}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

section a.button {
    margin: 1em 0;
}

span {
    margin: 0 .5em;
    transition: .3s ease-in-out;
}

a.button:hover span {
    margin: 0 1em 0 0;
}

#retour {
    align-self: flex-start;
    margin-left: 5%;
}

@media screen and (max-width: 1366px) {
    #retex img {
        width: 30em;
    }
    #retex .bg {
        flex-direction: column;
    }

    #right,
    #left {
        width: 100%;
    }

    #retex h3 {
        margin-top: 1em;
    }
}

@media screen and (max-width: 1024px) {
    #retex img {
        width: 25em;
    }
}

@media screen and (max-width: 768px) {
    #retex img {
        width: 20em;
    }

    #outils_cpt {
        flex-direction: column;
    }
}
