@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url(./nav.css);
@import url(./footer.css);
@import url(./colors.css);


/* Reset */

html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
}

* {
    color: var(--links)
}

nav,
footer {
    z-index: 1;
}

/* Style css pour la section */

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    z-index: 0;
}

/* Style pour les liens */

a {
    text-decoration: none;
    color: var(--links);
}

a:hover {
    cursor: pointer;
}

/* #region hover-underline-animation */
/* #region 1st anim */
.hover-underline-animation,
#exp-index .card p:last-child,
#exp-index .card:hover .hover-underline-animation{
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after, 
#exp-index .card p:last-child::after,
#exp-index .card:hover .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,
            var(--gradient-one) 0%,
            var(--gradient-two) 100%);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after,
#exp-index .card:hover p:last-child::after,
#exp-index .card:hover .hover-underline-animation::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation:hover,
#exp-index .card p:last-child:hover {
    text-decoration: none !important;
}

#exp-index .card p:last-child::after {
    transition: transform 0.25s ease-out .15s;
}
/* #endregion 1st anim */
/* #region 2nd anim */

.hover-underline-effect {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-effect::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--bg-color);
    transform: scalex(0);
  }
  
  .hover-underline-effect::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,
            var(--gradient-one) 0%,
            var(--gradient-two) 100%);
  }
  
  .hover-underline-effect:hover::after {
    animation: .5s anim;
  }
  
  @keyframes anim {
    0% {
      transform-origin: top left;
      transform: scalex(0);
    }
    50% {
      transform-origin: top left;
      transform: scalex(1);
    }
    51% {
      transform-origin: top right;
      transform: scalex(1);
    }
    100% {
      transform-origin: top right;
      transform: scalex(0);
    }
  }

/* #endregion 2nd anim */
/* #endregion hover-underline-animation */

/*bouton contact*/
a.button {
  background-color: var(--gradient-two);
  border-radius: 4px;
  padding: 0.5em;
  text-decoration: none;
  color: var(--links);
  height: 100%;
  transition: 0.3s;
}

a.button:hover {
  background-color: var(--gradient-two-dark);
}


#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
}