@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url(./nav.css);
@import url(./footer.css);
@import url(./colors.css);


/* Reset */

html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
}

/* Style css pour la section */

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em;
}

/* Style pour les liens */

a {
    text-decoration: none;
    color: var(--links);
}

a:hover {
    cursor: pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,
            var(--gradient-one) 0%,
            var(--gradient-two) 100%);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation:hover {
    text-decoration: none !important;
}

* {
    color: var(--links)
}